/* Styles for Musical Fitness */
/* Table of Contents
   - GENERAL STYLES
   - HEADER
   - CONTAINER
   - FOOTER
   - CLASSES
*/

/* GENERAL STYLES */
body {
  font-family: verdana;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: #000;
  font-family: palatino;
}

h1 {font-size: 24px;}

nav ul li {
  display: inline;
}

div.field, div.actions {
  margin: 10px;
  margin-left: 0px;
}
/* END */

/* HEADER */
#header-container {
  background-color: #333;
  height: 96px;
  margin-top: 0;
}
header {
  width: 960px;
  margin: auto;

  h1 {
    margin: 0;
    float: left;
  }
  a {
    text-decoration: none;
    color: #fff;
    padding: 35px;
    display: block;

    &:visited {
      color: #fff;
    }
    &:hover {
      background-color: white;
      color: #666;
    }
  }
  nav {
    float: right;
    a {padding: 36px;}
  }
}
/* END */

/* CONTENT */
#content {
  width: 960px;
  margin: auto;
  padding: 18px;
}
/* END */

/* FOOTER */
#footer-container {
  background-color: #333333;
  height: 36px;
}

footer {
  width: 960px;
  margin: auto;
  font-size: 14px;
}

footer nav {
  float: right;
}

  footer nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer nav li a:visited {
    color: #fff;
  }
  footer nav li a:hover {
    color: #666;
    background-color: white;
  }
/* END */

/* CLASSES */
/* For modern browsers */
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom:1;
}

/* END */
