<div id="header-container">
  <header class="cf">
    <h1><%= link_to "Musical Fitness", root_path %></h1>
    <nav>
      <ul>
        <li><%= link_to "Sign In", signin_path %></li>
      </ul>
    </nav>
  </header>
</div>
