<div id="header-container">
  <header class="cf">
    <h1><%= link_to "Musical Fitness", root_path %></h1>
    <nav>
      <ul>
        <% if session[:user_id] %>
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Sign Out", signout_path %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
